.brands-page {
  text-align: center;
  padding: 20px;
  background-color: #ffe4e1; /* Light pink background color */
}

.brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  gap: 30px;
  cursor: pointer;
}

.brand-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.extra-cards {
  margin-top: 40px;
}

.extra-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.extra-card {
  position: relative;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8d7da; /* Light pink card background color */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.extra-card-image {
  width: 150px; /* Fixed width for extra card images */
  height: 150px; /* Fixed height for extra card images */
  border-radius: 8px;
  object-fit: cover; /* Ensures the image covers the entire area */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

.action-button {
  width: 100%; /* Make all buttons take full width */
  background-color: #f54e77;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.extra-buy-now-button {
  background-color: #f54e77;
  color: white;
  transition: background-color 0.3s ease;
}

.extra-buy-now-button:hover {
  background-color: #fc0779;
}

.wishlist-icon img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
