.header {
    background-color: #d1185f;
    padding: 1em;
    text-align: center;
  }
  .header-logo > h2 {
    font-size: 30px;
    padding-left: 0px;
    line-height: 28px;
    cursor: pointer;
    margin-top: 40px;
    
}
.header-logo > img {
    width: 100px;
    padding-right: 0px;
    margin-top: 20px;
}
.header-logo {
    display:flex;
    margin-left: 30px;
}
  
  .header ul {
    list-style-type: none;
    padding: 0;
  }
  
  .header li {
    display: inline;
    margin: 0 10px;
  }
  
  .header a {
    text-decoration: none;
    color: #faf9f9;
    font-weight: bold;
  }
  .header h1{
    color:  #faf9f9;
    margin-top: -50px;
  }
  