.header {
    background-color: #d1185f;
    padding: 1em;
    text-align: center;
    margin-bottom: -60px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .header-logo > h2 {
    font-size: 60px;
    padding-left: 0px;
    line-height: 28px;
    cursor: pointer;
    margin-top: 40px;
    
}
.header-logo > img {
    width: 150px;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.header-logo {
    display:flex;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: -10%;

}

  .header ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    
  }
  
  .header li {
    display: inline;
    margin: 0 10px;
  }
  
  .header a {
    text-decoration: none;
    color: #faf9f9;
    font-weight: bold;
    font-size: larger;
  }
  .header h1{
    color:  #faf9f9;
    margin-top: -60px;
    font-size: 60px;
    
  }
  .login-icon {
    color: #f8f2f2;
    vertical-align:middle;
    margin-left: auto;
    margin-top: -100px;
  }
   .wishlist-icon {
    margin-left: 1000px;
    margin-top: -40px;
    
   }
   .cart-icon {
    margin-left: -100px;
    margin-top: -40px;
  }
/* 
  .login-icon, .wishlist-icon, .cart-icon {
    color: #f8f2f2;
    margin-left: 200px; 
  } */