
.wishlist {
    padding: 20px;
    background-color: #fac2c7;
  }
  
  .wishlist h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .wishlist-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .wishlist-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .wishlist-item-image {
    width: 100%;
    height: auto;
  }
  
  .wishlist-item-details {
    margin-top: 10px;
  }
  
  .wishlist-item-details h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .wishlist-item-details p {
    font-size: 16px;
    color: #555;
  }
  
  .remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  
  .remove-btn:hover {
    background-color: #ff1a1a;
  }
  