.register{
    background-image: url("https://wallpapers.com/images/hd/baby-girl-pink-1300-x-904-qfpk7eds2o28gtnc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 50px;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: -30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fdbbf2;
    margin-right: 200px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 3px;
    border: 1px solid #dddada;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #fa5989;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bd094e;
  }
  
  .error {
    color: red;
    margin-top: -5px;
    margin-bottom: -20px;
    font-size: 1.0em;
  }
  .login-link {
    margin-top: 20px;
  }
  
  .login-link p {
    margin: 5px 0;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  